<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>tabbar-reverse-lookup</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>逆引き</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ReverseLookup</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>album-empty</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>アルバム</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Album</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>settings-calc</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>度数計算機</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Calc</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleDisplayName</key>
	<string>うちカク！</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ja</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.amazon.mobile.shopping</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>材料の購入予定をカレンダーに登録するために使います。</string>
	<key>NSCameraUsageDescription</key>
	<string>レシピの写真を撮影するために使います。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>レシピの写真を「写真」アプリに保存するために使います。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>レシピの写真を登録するために使います。</string>
	<key>NSRemindersUsageDescription</key>
	<string>材料の購入予定をリマインダーに登録するために使います。</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Launch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
